{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "padding": {
      "top": 2,
    },
  },
  "general": {
    "thread": true,
    "processingTimeout": 5000,
    "detectVersion": true,
    "playerName": "",
  },
  "modules": [
    "break",
    {
      "type": "title",
      "format": "{#cyan}{user-name} {#italic_white}{at-symbol-colored} {#}{#magenta}{host-name}{#}",
    },
    "separator",
    "os",
    "kernel",
    "separator",
    "host",
    "board",
    {
      "type": "cpu",
      "showPeCoreCount": false,
      "temp": true,
    },
    //"cpucache",
    "cpuusage",
    {
      "type": "gpu",
      "driverSpecific": true,
      "temp": true,
    },
    "memory",
    "disk",
    "btrfs",
    "zpool",
    "separator",
    {
      "type": "datetime",
      "format": "{day-pretty}.{month-pretty}.{year} {hour}:{minute}:{second} ({timezone-name})",
    },
    "uptime",
    "users",
    "loadavg",
    "processes",
    "packages",
    "separator",
    "terminal",
    "shell",
    "editor",
    "locale",
    "separator",
    {
      "type": "publicip",
      "timeout": 1000,
    },
    {
      "type": "localip",
      "showIpv6": true,
      "showMac": true,
      "showSpeed": true,
      "showMtu": true,
      "showLoop": true,
      "showFlags": true,
      "showAllIps": true,
    },
    "dns",
    "wifi",
    "bluetooth",
    "separator",
    //"display",
    "monitor",
    //"mouse",
    //"keyboard",
    "sound",
    "camera",
    {
      "type": "battery",
      "temp": true,
    },
    "poweradapter",
    "separator",
    {
      "type": "weather",
      "timeout": 1000,
    },
    "version",
    "break",
    "colors",
  ],
}
