{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "padding": {
      "top": 2,
    },
  },
  "general": {
    "thread": true,
    "processingTimeout": 5000,
    "detectVersion": true,
    "playerName": "",
  },
  "modules": [
    "break",
    {
      "type": "title",
      "format": "{#cyan}{user-name} {#italic_white}{at-symbol-colored} {#}{#magenta}{host-name}{#}",
    },
    "separator",
    "os",
    "kernel",
    "separator",
    "host",
    {
      "type": "cpu",
      "showPeCoreCount": false,
      "temp": true,
    },
    {
      "type": "gpu",
      "driverSpecific": true,
      "temp": true,
    },
    "memory",
    "disk",
    "separator",
    {
      "type": "datetime",
      "format": "{day-pretty}.{month-pretty}.{year} {hour}:{minute}:{second} ({timezone-name})",
    },
    "uptime",
    "loadavg",
    "separator",
    {
      "type": "publicip",
      "timeout": 1000,
    },
    {
      "type": "localip",
      "showIpv6": false,
      "showMac": false,
      "showSpeed": false,
      "showMtu": false,
      "showLoop": false,
      "showFlags": false,
      "showAllIps": false,
    },
    "dns",
    "separator",
    {
      "type": "weather",
      "timeout": 1000,
    },
    "version",
    "separator",
    {
      "type": "colors",
      "symbol": "circle",
    }
  ],
}
