# TODO: add dynamic settings for windows/linux
[window]
startup_mode = "Maximized"
padding = { x = 3, y = 3 }
dynamic_padding = true

[font]
size = 15
normal = { family = "JetBrainsMonoNL Nerd Font Mono", style = "Regular" }

[terminal]
shell = { program = "C:\\Program Files\\Git\\bin\\bash.exe", args = ["--login", "-i"] }

[selection]
save_to_clipboard = true
